/* COLORS */
$primaryColor: #0E0B26;
$secondaryColor: #04091D;
$textColor: #fff;
$backgroundText: linear-gradient(to left, #7e03aa, #ea00ff, #250150);


/* CARDS */
$backgroundColor: rgba(44, 0, 111, 0.8);
$boxShadow: 0 4px 8px rgba(0, 0, 0, 0.1);


/* FONTS */
@font-face {
  font-family: "titleFont";
  src: url("../../assets/fonts/titleFont.otf");
}
$titleFont: "titleFont";

@font-face {
  font-family: "subTitleFont";
  src: url("../../assets/fonts/subTitleFont.ttf");
}
$subTitleFont: "subTitleFont";


/* CSS */
body {
    margin: 0;
    padding: 0;
  }