<!-- update-user.component.html -->
<div class="page-container">
  <app-header></app-header>

  <div class="container">
    <h2>Modifier un <br/><span>utilisateur</span></h2>

    <form (ngSubmit)="updateUser()">
      <div *ngIf="userData">

        <input type="text" id="lastname" name="lastname" [(ngModel)]="userData.lastname" placeholder="Nom">
        <input type="text" id="firstname" name="firstname" [(ngModel)]="userData.firstname" placeholder="Prénom">


        <button type="submit" class="btn">Modifier</button>
      </div>
    </form>

    <br/>

    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
</div>
