<app-header></app-header>

<div class="container">
  <h2 class="centered-title">Informations d'un <br/>
    <span>utilisateur</span></h2>

  <div class="user-card single-user" *ngIf="userDetails; else noUserMessage">
    <mat-card>
      <mat-card-header>
        <div class="avatar-container">
          <img class="avatar" src="../../assets/userAvatar.png" alt="Avatar">
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>{{ userDetails.firstname }} {{ userDetails.lastname }}</mat-card-title>
        <p>{{ userDetails.id }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <ng-template #noUserMessage>
    <p>Aucun utilisateur trouvé avec l'identifiant : {{ userId }}</p>
  </ng-template>
</div>
