<!-- create-user.component.html -->

<h2>Création d'un utilisateur</h2>

<form [formGroup]="userForm">
  <div>
    <label for="lastname">Nom : </label>
    <input type="text" id="lastname" formControlName="lastname"> <span *ngIf="isFieldInvalid('lastname')">Veuillez remplir ce champ.</span>
  </div>
  <div>
    <label for="firstname">Prénom : </label>
    <input type="text" id="firstname" formControlName="firstname"><span *ngIf="isFieldInvalid('firstname')">Veuillez remplir ce champ.</span>
  </div>

  <button type="button" (click)="createUser()">Créer</button>
</form>

<div *ngIf="successMessage">{{ successMessage }}</div>
<div *ngIf="errorMessage">{{ errorMessage }}</div>
