<div class="page-container">

<app-header></app-header>


  <div class="container">

    <h2>Création d'un <br/>
      <span>utilisateur</span></h2>

      <form [formGroup]="userForm">
        <div>
          <input type="text" id="lastname" formControlName="lastname" placeholder="Nom">
        </div>
        <div>
          <input type="text" id="firstname" formControlName="firstname" placeholder="Prénom">
        </div>
      
        <button type="button" (click)="createUser()" class="btn">
          + Ajouter
        </button>
      </form>

      <br/>

    <div *ngIf="successMessage">{{ successMessage }}</div>
    <div *ngIf="errorMessage">{{ errorMessage }}</div>

  </div>
</div>
