
<div class="page-container">
  <app-header></app-header>

  <div class="container">
    <div class="content">
      <h1 class="title">UE L314<br />WEBMOBILE</h1>
      <p class="subTitle">
        Cette UE L314 consiste à faire une application de CRUD <br/>
        d'utilisateur avec Angular via une API en NestJS
      </p>
      <button class="btn">
        Découvrir
      </button>
    </div>
    <img class="fit-picture" src="../../assets/character_one.png" alt="Character one" />
  </div>

</div>


<!--<a routerLink="/users">Afficher la liste des utilisateurs</a> <br />

<a [routerLink]="['/users', userId]">Rechercher un utilisateur</a> <input type="number" id="userId" [(ngModel)]="userId" style="width: 50px;"> <br />

<a [routerLink]="['/create-user']">Créer un utilisateur</a> <br />

<a [routerLink]="['/update-user', userIdToUpdate]">Modifier un utilisateur</a><input type="number" id="userIdToUpdate" [(ngModel)]="userIdToUpdate" style="width: 50px;"> <br />

<a routerLink="/delete-user">Supprimer un utilisateur</a>-->



<router-outlet></router-outlet>
